.block
  .content
    %h2.title= resource_class.to_s.titleize.pluralize 
    .inner
      %table.table
        %thead
          %tr
            %th.first ID
            %th Entry Type
            %th Memo
            %th Amount 
            %th= t("web-app-theme.created_at", :default => "Created at")
            %th.last &nbsp;
        %tbody
          - collection.each do |entry|
            %tr{:class => cycle("odd", "even")}
              %td= entry.id
              %td= link_to entry.class.name, self.send("#{entry.class.name.tableize}_url".to_sym)
              %td= link_to entry.memo, entry_path(entry)
              %td= entry.amount
              %td
                = entry.created_at.to_date
              %td.last
                = link_to "#{t("web-app-theme.show", :default => "Show")}", entry_path(entry)
                |
                \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_entry_path(entry)} |
                \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", entry_path(entry), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        = will_paginate collection
- content_for :sidebar, render(:partial => 'sidebar')
