<div class="accounts">
<ul>
<% @myitems.each do | item | %>
<li>Entries: <%= item.id %>,<%= item.memorandum %>
<ul><% item.credits.each do | credit | %>
<li>Credits: <%= credit.id %>,<%= "%.2f" % ( credit.amount.to_f / 100 ) %></li>
<% end %>
<% item.debits.each do | debit | %>
<li>Debits: <%= debit.id %>,<%= "%.2f" % ( debit.amount.to_f / 100 ) %></li>
<% end %>
</ul></li>
<% end %>
</ul>
</div>
