<div class="accounts">
<ul>
<% @myitems.each do | item | %>
<li>Entries: <%= item.id %>,<%= item.memorandum %>
<ul><% item.credits.each do | credit | %>
<li>Credits: <%= credit.id %>,<%= credit.to_usd %></li>
<% end %>
<% item.debits.each do | debit | %>
<li>Debits: <%= debit.id %>,<%= debit.to_usd %></li>
<% end %>
</ul></li>
<% end %>
</ul>
</div>
