#header
  %h1= link_to "Regdel", main_app.accounts_path
  #user-navigation
    %ul.wat-cf
      %li= link_to "Development", '/ditz/'
      %li
        %a{:href => "#"}= "Profile"
      %li
        %a{:href => "#"}= "Settings"
      %li
        %a.logout{:href => "/logout"}= "Logout"
  #main-navigation
    %ul.wat-cf
      %li= link_to "Accounts", main_app.accounts_path
      %li= link_to "Entries", main_app.entries_path
      %li= link_to "Write Check", main_app.write_check_entries_path 
      %li= link_to "Make Transfer", main_app.transfer_funds_entries_path 
      %li= link_to "Customers", main_app.customers_path
      %li= link_to "Create Invoice", main_app.create_invoice_entries_path 
