#header
  %h1= link_to "Regdel", accounts_path
  #user-navigation
    %ul.wat-cf
      %li= link_to "Development", '/ditz/'
      %li
        %a{:href => "#"}= "Profile"
      %li
        %a{:href => "#"}= "Settings"
      %li
        %a.logout{:href => "/logout"}= "Logout"
  #main-navigation
    %ul.wat-cf
      %li= link_to "Accounts", accounts_path
      %li= link_to "Entries", entries_path
      %li= link_to "Write Check", write_check_entries_path 
      %li= link_to "Make Transfer", transfer_funds_entries_path 
      %li= link_to "Customers", customers_path
      %li= link_to "Create Invoice", create_invoice_entries_path 

:plain
  <script type="text/javascript"><!--
  google_ad_client = "ca-pub-9657495873329253";
  /* 728x90, created 1/5/08 */
  google_ad_slot = "9737089361";
  google_ad_width = 728;
  google_ad_height = 90; 
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
